/Server/ServerApplication/debug
/Client/ClientApplication/debug
/Client/ClientApplication/build
/Server/ServerApplication/build
/Server/ServerApplication/release
/Client/ClientApplication/release
/Server/ServerApplication/.qtc_clangd
/Client/ClientApplication/.qtc_clangd
/debug
/release
/build
/.qtc_clangd
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.pro.user